  /******************************************************************

  Stylesheet: 900px以下のモニタで適用

  ******************************************************************/

  .site-title {
    font-size: 3rem;
    margin: 50px 0;
  }
  .section-title {
    font-size: 2rem;
  }


  /*-------------------------------------------
  Information
  -------------------------------------------*/
  .information {
    margin-bottom: 80px;

    &__date-en, &__time-en, &__date-ja {
      font-size: 1rem;
    }

    &__place {
      font-size: 2rem;
    }
  }


  /*-------------------------------------------
  Gallery
  -------------------------------------------*/
  .gallery {
    margin-bottom: 280px;

    &__list {
      & li {
        margin-bottom: 30px;

        & img {
          width: 100%;
        }
      }
    }
  }


  /*-------------------------------------------
  Access
  -------------------------------------------*/
  .access {
    margin-bottom: 280px;
  }


  /*-------------------------------------------
  Contact
  -------------------------------------------*/
  .contact {
    &__btn {
      width: 100%;

      &::before, &::after {
        display: none;
      }
    }
  }