/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: $cBlack;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}
a {
  color: $cWhite;
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}

/* 共通クラス */
.site-title {
  font-size: 6.25rem;
  font-weight: 300;
  letter-spacing: 0.03em;
  margin: 100px 0;
}
.section-title {
  border-bottom: solid 1px $cWhite;
  display: inline-block;
  // 下線をテキストと同じ幅にあわせる
  font-size: 3.75rem;
  font-weight: 300;
  letter-spacing: 0.03em;
  margin-bottom: 45px;
}
.wrapper {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
}
.container {
  background: $cBlack;
  color: $cWhite;
  text-align: center;
}
