/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: $cBlack;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}
a {
  color: $cWhite;
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}

/* 共通クラス */
.site-title {
  font-size: 6.25rem;
  font-weight: 300;
  letter-spacing: 0.03em;
  margin: 100px 0;
}
.section-title {
  border-bottom: solid 1px $cWhite;
  display: inline-block;
  // 下線をテキストと同じ幅にあわせる
  font-size: 3.75rem;
  font-weight: 300;
  letter-spacing: 0.03em;
  margin-bottom: 45px;
}
.wrapper {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
}
.container {
  background: $cBlack;
  color: $cWhite;
  text-align: center;
}


/*-------------------------------------------
ヘッダー
-------------------------------------------*/
.header {
  &__logo {
    line-height: 1px;
    position: fixed;
    top: 35px;
    left: 30px;
    z-index: 40;
    // display: none;

    & a {
      display: block;
    }
  }

  
  &__hamburger {
    width: 42px;
    height: 42px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 25px;
    z-index: 40;
    // display: none;
    
    & span {
      width: 30px;
      height: 1px;
      background-color: $cWhite;
      position: absolute;
      left: 6px;
      transition: 0.5s ease-in-out;
      
      &:nth-child(1) {
        top: 11px;
      }
      &:nth-child(2) {
        top: 21px;
      }
      &:nth-child(3) {
        top: 31px;
      }
    }

    &.active span:nth-child(1) {
      top: 21px;
      left: 6px;
      transform: rotate(-45deg);
    }

    &.active span:nth-child(2),
    &.active span:nth-child(3) {
      top: 21px;
      transform: rotate(45deg);
    }
  }
  
  &__navi {
    width: 100%;
    background-color: $cWhite;
    color: $cWhite;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    transform: translateY(-100%);
    transition: 0.6s;
    z-index: 30;

    & ul {
      width: 100%;
      background-color: $cBlack;
      padding: 80px 0 30px 0;
  
      & li {
        padding: 10px 0;
  
        & a {
          display: block;
        }
      }
    }

    &.active {
      transform: translateY(0%);
    }
  }
}


/*-------------------------------------------
Mainvisual
-------------------------------------------*/
.mainvisual {
  display: flex;
  justify-content: center;
  /* スクロールで画像を拡大させた際に、横スクロールが出ないよう設定 */
  overflow-x: hidden;

  & img {
    width: calc(100% / 3);
    height: 100vh;
    /* スクロールで画像を拡大させた際に、画像が縮まないように設定 */
    flex-shrink: 0;
    object-fit: cover;
  }
}


/*-------------------------------------------
Information
-------------------------------------------*/
.information {
  margin-bottom: 140px;
  
  &__date-en {
    display: block;
    font-size: 1.5rem;
  }
  
  &__time-en {
    display: block;
    font-size: 1.125rem;
  }

  &__place {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 20px 0;
  }

  &__date-ja {
    font-size: 1.125rem;
  }
}


/*-------------------------------------------
Gallery
-------------------------------------------*/
.gallery {
  margin-bottom: 480px;

  &__list {
    & li {
      margin-bottom: 60px;

      & img {
        width: 48%;
      }

      &:nth-child(odd) {
        text-align: left;
      }

      &:nth-child(even) {
        text-align: right;
      }
    }
  }
}


